<form [formGroup]="form" (ngSubmit)="submit()" >
  <div class="container">
    <div class="row">
      <h1 class="ml-3">Edit Book</h1>
      <div class="form-group col-lg-12">
        <label for="title">Book Name</label>
        <input type="text" class="form-control" formControlName='title' id="title" placeholder="Input title">
        <span class="text-danger" *ngIf="form?.controls?.title?.dirty && form && form?.controls?.title?.errors">
          {{ form?.controls?.name?.errors?.required ? "This field is required" : "Name must less or equals than 30" }}
        </span>
      </div>

      <div class="form-group col-lg-12">
        <label for="author">Author Name</label>
        <input type="text" class="form-control" formControlName='author' id="author" placeholder="Input Author">
        <span class="text-danger" *ngIf="form?.controls?.author?.dirty && form && form?.controls?.author?.errors">
          {{ form?.controls?.name?.errors?.required ? "This field is required" : "Name must less or equals than 30" }}
        </span>
      </div>

      <div class="form-group col-lg-12">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName='description' id="description" name="description" placeholder="Input Description">
        <span class="text-danger" *ngIf="form?.controls?.description?.dirty && form?.controls?.description?.errors">Price value to be greater than or equal to 1</span>
      </div>
      <div class="form-group col-lg-12 text-right">
        <button class="btn btn-primary" type="submit">Edit</button>
        <button class="btn btn-danger ml-3" type="button"><a routerLink="/list">Cancel</a></button>
      </div>
    </div>
  </div>
</form>

